
nav{
    border-bottom:solid black 2px;

}

main{
    margin:50px 0px 0px 0px;
    /* border:dashed black 2px; */
    position: absolute;

} 
aside{ 
    height:230px;
    /* float: left; */
    width:21%;
}

h2{
    font-weight: bolder;
    height:25px;
    font-size: 20px;
    font-family:'Arial, Helvetica', sans-serif; 
    /* border:dashed black 2px; */
    padding-left:10px;
}

#instructions p{
    border: solid #ddd 4px;
    overflow:scroll;
    height:400px;
    border-radius: 4px;
    font-family:'Arial, Helvetica', sans-serif; 
}
p{
   padding:10px;
}

canvas {
                /* position: relative; */
                margin-top: 75px;
                /* left: 230px; */
                width:700px;
                background: transparent;
                border: solid #ddd 4px;
                border-radius: 4px;
                height: 418px;
                margin-left:250px;
}

h3{
    font-weight: bolder;
    height:25px;
    font-size: 20px;
    font-family:'Arial, Helvetica', sans-serif; 
    /* border:dashed black 2px; */
    padding-left:10px;
}

#table-div {
    /* border: solid orange 1px; */
    margin-top: 40px;
}

table {
    padding: 30px;
    /* border: solid orange 1px; */
    display: flex;
    justify-content: space-around;
}

th {
    /* border: solid orange 1px; */
    /* padding-right: 20px; */
}

th img {
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}

td {
    /* border: solid orange 1px; */
    text-align: center;
    /* padding-right: 20px; */
}

th, td {
    padding: 10px 50px 0px 50px;
}
