

main{
    position:relative;
}
#galaxy{
    background-image: url(../img/galaxybackground-color.jpg);
    margin-top:20px;
    width: 100%;
    height:600px;
    z-index:1;
}

table{
    position:absolute;
    /* border: 3px rgb(48, 28, 221) solid; */
    background-color:rgb(5, 0, 3);
    opacity:0.75;
    top:40%;
    transform: translate(-50%, -50%);
    margin-left:50%;
    margin-right:50%;
    width: 500px;
    z-index:2

}


th {

    font-size: 30px;
    /* padding: 10px; */
    /* text-align: left; */
    /* display: flex; */
    /* justify-content: space-between; */
    border-bottom: 1px white solid;
    color:rgb(245, 243, 250);
    border: 2px solid  rgb(29, 149, 247);
    font-family: 'Press Start 2P', cursive;

} 

td {
    /* border-bottom:dashed rgb(63, 255, 89) 2px; */
    /* padding-left:10px; */
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
    color:rgb(245, 243, 250);
    /* border-left: 2px dashed rgb(192, 255, 192); */
    font-family: 'Press Start 2P', cursive;
    border: 2px solid  rgb(29, 149, 247);

}


#newscore {
    position: absolute;
    width: 500px;
    background-color: #333;
    font-family: 'Press Start 2P', cursive;
    background-color:rgb(5, 0, 3);
    /* opacity:0.5; */
    color: white;
    top:73%;
    transform: translate(-50%, -50%);
    margin-left:50%;
    margin-right:50%;
    border: 2px solid  rgb(29, 149, 247);

}


label p {
    text-align: left;
    font-size: 20px;
}

label input {
    width: 100px;
}

legend {
    /* border:solid red 2px; */
    font-size: 16px;
}

button {
    width: 250px;
    height:30px;
    font-family: 'Press Start 2P', cursive;
    float:right;
    margin-bottom:10px;
    margin-right:15px;

}