/* 
font-family: 'Orbitron', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Press Start 2P', cursive;
font-family: 'Gugi', cursive;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Bungee Inline', cursive; */

header {
    height: 70px;
    /* border: dotted blue 5px; */
    margin-top: 20px;
    /* position:relative; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#logo{
    /* vertical-align: bottom;  */
    /* padding-top: 30px; */
    /* padding-left: 20px; */
    height: 70px; 
    width: 70px;
    /* background-image: url(../img/001-animals.png); */
}

nav {
    /* border: dashed red 2px; */
}

nav ul{
    /* margin-right: 20px;
    border: dotted purple 1px; */
}
nav li{
    padding-top:55px;
    display:inline-block;
    float: right;
    margin-left: 20px;
    

    
}
nav a{
    color:rgb(78, 116, 240);
    font-family:'Arial, Helvetica', sans-serif; 
    font-size: 12px;  
    text-transform: uppercase;
    font:bold;
}
a:hover {
    color: rgb(241, 112, 25);
}

body {
    width: 960px;
    margin: 0px auto;
    background-color: #f9f9f9;
    /* background-color: #20201f; */
}


/* main{
    margin:30px 50px 0px 20px;
    border: solid purple 1px;
} */

/* aside{ 
    height:230px;
    float: left;
    width:25%;
}
h2{
    position: absolute;
    background-color: white;
    font-weight: bolder;
    height:25px;
    font-size: 20px;
    font-family:'Arial, Helvetica', sans-serif; 
    padding-left: 10px;

}
#instructions p{
    border: solid #ddd 4px;
    margin-top: 30px;
    overflow:scroll;
    height:300px;
    padding:10px;
    border-radius: 4px;
    font-family:'Arial, Helvetica', sans-serif;  */
/* } */





/* canvas {
                position: relative;
                margin-top: 2%;
                left: 5%;
                width:830px;
                background: transparent;
                border: solid #ddd 4px;
                height: 325px;
} */

footer {
    position: relative;
    top:80px;
    /* right: 0;
    left: 0; */
    /* background-color: #fcc616; */
    text-align: center;
    height:100px;
    /* border-top: 3px solid rgb(78, 116, 240); */
    border-top: double;
}
