/* 
font-family: 'Orbitron', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Press Start 2P', cursive;
font-family: 'Gugi', cursive;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Bungee Inline', cursive; */


header {
    /* border: dashed red 3px; */
    position:relative;
    background-image: url(../img/galaxybackground.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    vertical-align: bottom; 
    padding-top: 20px;
    padding-left: 20px;
}

nav ul{
    margin-right: 20px;
}
nav li{
    display:inline-block;
    float: right;
    padding-top:74px;
    margin-left: 20px;
    /* border: dashed blue 1px; */
    
}
nav a{
    color:white;
    font-family:'Arial, Helvetica', sans-serif; 
    font-size: 15px;  
    text-transform: uppercase;
    /* font-weight: bold; */
}

#outer-hero {
    position:relative;
    /* border: dashed black 3px; */
    height:230px;
    
}
#outer-hero h1 {
    position: absolute;
    top:30%;
    left:50%;
    /* right:30%; */
    transform: translate(-50%, -50%);
    /* border: dashed red 3px; */
    font-size: 100px;
    color:white;
    text-align: center;
    font-stretch: condensed;
    /* font-weight: 900; */

/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'VT323', monospace; */
/* font-family: 'Press Start 2P', cursive;  */
/* font-family: 'Gugi', cursive; */
font-family: 'Do Hyeon', sans-serif;
/* font-family: 'Saira Condensed', sans-serif; */
/* font-family: 'Homenaje', sans-serif; */
/* font-family: 'Bungee Inline', cursive; */

}

main{
    margin:30px 50px 0px 20px;
}
aside{
    /* position:relative; */
    /* border: dashed black 3px; */
    height:230px;
    /* border: dashed red 1px; */
    float: left;
    width:25%;
    
}
h2{
    position: absolute;
    /* border: dashed blue 1px; */
    /* padding-right: 15%; */
    background-color: white;
    font-weight: bolder;
    height:25px;
    font-size: 20px;
    /* border-bottom: solid #999999 3px; */
    font-family:'Arial, Helvetica', sans-serif; 
    padding-left: 10px;

}
#instructions p{
    border: solid #ddd 4px;
    margin-top: 30px;
    overflow:scroll;
    height:300px;
    padding:10px;
    border-radius: 4px;
    font-family:'Arial, Helvetica', sans-serif; 
}




 /* body {
    background-color: rgb(189, 214, 238)
} */

canvas {
                position: relative;
                margin-top: 2%;
                left: 5%;
                /* transform: translate(-50%, -50%); */
                width:830px;
                background: transparent;
                border: solid #ddd 4px;
                height: 325px;
}

footer {
    position: relative;
    top:80px;
    right: 0;
    /* bottom: 0; */
    left: 0;
    /* padding: 1rem; */
    background-color: #fcc616;
    text-align: center;
    height:100px;
    /* padding-top: 100px; */
    /* border: 2px red dashed; */
}